{% extends "user_side/base.html" %}
{% load static  %}
{% block content %}

<section>
  <div class="page-header breadcrumb-wrap">
    <div class="container" style="margin-left:334px; margin-top:30px;">
      <h2>Address</h2>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}  
  </div>  

  <div class="container" style="margin-top:40px;">
    <div>
    </div>
    <div class="row mx-0 justify-content-center">
      <div class="col-md-11 col-lg-9 px-lg-5 col-xl-8 px-xl-3 px-xxl-5">
        <form
          method="POST"
          class="w-100 rounded-1 p-4 border bg-white"
          action="{% url 'user_panel:add-address' user.id %}"
          id="form"
        >
        {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <!-- Left side fields -->
              <label class="d-block mb-4">
                <span class="form-label d-block">Your name</span>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="username"
                />
              </label>
               <span id="username-span" style="color:red;"></span>

              <label class="d-block mb-4">
                <span class="form-label d-block">House Name</span>
                <input
                  name="house_name"
                  type="text"
                  class="form-control"
                  placeholder=""
                  id="house_name"
                />
              </label>
              <span id="house_name-span" style="color: red;"></span>


              <label class="d-block mb-4">
                <span class="form-label d-block">Street Name</span>
                <input
                  name="street_name"
                  type="text"
                  class="form-control"
                  placeholder=""
                  id="street_name"
                />
              </label>
               <span id="street_name-span" style="color: red;"></span>


              <label class="d-block mb-4">
                <span class="form-label d-block">District</span>
                <input name="district" type="text" class="form-control" placeholder="" id="district"/>
              </label>
              <span id="district-span" style="color: red;"></span>

            </div>

            <div class="col-md-6">
              <!-- Right side fields -->
              <label class="d-block mb-4">
                <span class="form-label d-block">State/Province</span>
                <input name="state" type="text" class="form-control" placeholder="" id="state" />
              </label>
               <span id="state-span" style="color: red;"></span>

                <label class="d-block mb-4">
                <span class="form-label d-block">Country</span>
                <input
                  name="country"
                  type="text"
                  class="form-control"
                  placeholder=""
                  id="country"
                />
              </label>
               <span id="country-span" style="color: red;"></span>


              <label class="d-block mb-4">
                <span class="form-label d-block">Zip/Postal code</span>
                <input name="pin_number" type="number" class="form-control" placeholder="" id="pin_number"/>
              </label>
              <span id="pin_number-span" style="color: red;"></span>


            

              <label class="d-block mb-4">
                <span class="form-label d-block">Phone</span>
                <input
                  name="phone_number"
                  type="number"
                  class="form-control"
                  placeholder=""
                  id="phone"
                />
              </label>
              <span id="phone-span" style="color: red;"></span>

            </div>
          </div>

          <div class="mb-3">
            <button type="submit" id="submit-button"  class="btn btn-primary px-3 rounded-3">
              Save
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% comment %} <script src="{% static 'js/profile.js' %}"></script> {% endcomment %}


 <script>
  $("#phone").on("input", function () {
    let phone = $("#phone").val().trim();
    if (phone.length > 10) $("#phone").val(phone.substring(0, 10));
  });

  $("#username").on("focus", function () {
    $("#username-span").text("");
  
  });
  
  $("#house_name").on("focus", function () {
    $("#house_name-span").text("");
   
  });

  $("#street_name").on("focus", function () {
    $("#street_name-span").text("");
   
  });

  $("#district").on("focus", function () {
    $("#district-span").text("");
  
  });
  
  $("#state").on("focus", function () {
    $("#state-span").text("");
    
  });

  $("#country").on("focus", function () {
    $("#country-span").text("");
    
  });

  $("#pin_number").on("focus", function () {
    $("#pin_number-span").text("");
  
  });

  $("#phone").on("focus", function () {
    $("#phone-span").text("");
   
  });

  

  $(document).ready(function () {
  
    $("#submit-button").on("click", function (event) {
       event.preventDefault()

      let username = $("#username").val().trim();
      let house_name = $("#house_name").val().trim();
      let street_name = $("#street_name").val().trim();
      let state = $("#state").val().trim();
      let country = $("#country").val().trim();
      let pin_number = $("#pin_number").val().trim();
      let phone = $("#phone").val().trim();
      let district = $("#district").val().trim();
      let form = $("#signupform");



       const isNumeric = (value) => !isNaN(value) && value !== '';

        if (isNumeric(username) || username === "") {
            $("#username-span").text("Enter Valid User Name");
            $("#username").addClass("error");
        }

        if (isNumeric(house_name) || house_name === "") {
            $("#house_name-span").text("Enter Valid House Name");
            $("#house_name").addClass("error");
        }

        if (isNumeric(street_name) || street_name === "") {
            $("#street_name-span").text("Enter Valid Street Name");
            $("#street_name").addClass("error");
        }

        if (isNumeric(district) || district === "") {
            $("#district-span").text("Enter Valid District Name");
            $("#district").addClass("error");
        }

        if (isNumeric(state) || state === "") {
            $("#state-span").text("Enter Valid State Name");
            $("#state").addClass("error");
        }

        if (isNumeric(country) || country === "") {
            $("#country-span").text("Enter Valid Country Name");
            $("#country").addClass("error");
        }

        if ( pin_number === "") {
            $("#pin_number-span").text("Enter Valid Postal Code");
            $("#pin_number").addClass("error");
        }

        if (phone === "") {
            $("#phone-span").text("Phone Number Cannot Be Empty");
        } else if (isNaN(phone) || phone.length < 10) {
            $("#phone-span").text("Enter A Valid Phone Number");
        }

        if ($(".error").length === 0) {
            console.log(form.serializeArray());
            $("#form").submit();
        }

    });
  });
</script>



{% endblock content %}
