{% extends 'user_side/base.html' %}

{% block content %}
{% comment %} <main class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span class="">Sonic Hub</span></a>
    </nav> {% endcomment %}
<section class="mt-50 mb-50">
    <div class="container" style="max-width:1300px">

            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong></strong>{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} 
     
           <div class="col-lg-6 mb-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post" action="{% url 'order:checkout' user.id %}">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label for="coupon-field"></label>
                                        <input type="text" id="coupon-field" name="coupon code" placeholder="Enter Coupon Code...">
                                        <span style="color: red" id="coupon-field-error"></span>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login" id="coupon-btn">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

        {% comment %} <div class="row">
            <div class="col-12">
                <div class="divider mt-50 mb-50"></div>
            </div>
        </div>   {% endcomment %}

            <form method="post" id="formsubmit" action="{% url 'order:confirm-order' user.id %}">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="order_review border shadow-lg">
                            <div class="mb-20">
                                {% if address %}
                                    <h4>Select Your address</h4>
                                {% else %}
                                    <h4>Oops!! No address Found, Add a new address</h4><a href="{% url 'user_panel:add-address' user.id %}" class="btn btn-outline-primary" role="button">Add New Address</a>
                                {% endif %}
                            </div>
                            <!-- LOOP -->
                            {% if address %}

                            <a href="{% url 'user_panel:add-address' user.id %}" class="btn btn-outline-primary mb-15" role="button">Add New Address</a>

                            {% for ad in address %}
                            <div class="border border-dark rounded p-3 mb-15 table-responsive order_table text-center row">
                                <div class="row">
                                    <div class=" col-10 d-flex flex-column ">
                                        <div class="d-flex justify-content-start">
                                            <span class="bold font-lg">{{ ad.name | title }}</span>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span>{{ ad.house_name | title  }}</span>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span>{{ ad.street_name | title  }}</span>
                                            <span>{{ ad.district | title  }}</span>
                                            <span>{{ ad.state | title  }}</span>
                                            <span>{{ ad.country | title }}</span>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span>Pin code:{{ ad.pin_number | title }}</span>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span>Phone : {{ ad.phone_number | title }}</span>
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">             
                                        <label for="addressId">
                                        </label>
                                            <input type="radio" checked="checked" id="addressId" name="addressId" value="{{ ad.id }}">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <!-- LOOP ENDS -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review border border shadow-lg">   
                            <div class="mb-20"> <h4>Your Orders</h4> </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- PRODUCT LOOP -->
                                        {% for cart in products %}
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img src="{{cart.product.thumbnail.url}}" alt="#">
                                            </td>
                                            <td>
                                                <h5><a href="#">
                                                        <span>{{ cart.product.product_name }}</span>
                                                    </a></h5>
                                                
                                                
                                            </td>
                                            <td><span>{{ cart.quantity}} x {{ cart.product.offer_price }}</span></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- PRODUCT LOOP ENDS HERE -->
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">
                                                <span class="bold pr-2"></span>
                                                <span class="total-amount-no-discount" >₹ {{ subtotal }}</span>
                                            </td>
                                        </tr>
                                        <tr>    
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal">
                                                {% if coupon_id != None %}
                                                
                                                <span class="font-xl text-brand fw-900 total-amount-no-discount">₹ {{ total_price }}</span>
                                                <span class="font-sm text-brand fw-500 pr-2"style="text-decoration: line-through;">{{subtotal}}</span>
                                                
                                                {% else %}
                                                
                                                <span class="font-sm text-brand fw-900 pr-2"></span>
                                                <span class="font-xl text-brand fw-900 total-amount-no-discount">₹ {{ total_price }}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required=""  type="radio" value="cash on delivary" name="payment_option" id="exampleRadios3" checked="">
                                           
                                        <label class="form-check-label" for="exampleRadios3"  aria-controls="bankTranfer">Cash On Delivery</label>
                                          
                                        <br><br>
                                        <input class="form-check-input" required=""  value="online payment" type="radio" name="payment_option"
                                            id="exampleRadios4">
                                        <label class="form-check-label" for="exampleRadios4" aria-controls="bankTranfer" >Online Payment
                                        </label><br><br>
                                        <input class="form-check-input" required=""  value="wallet payment" type="radio" name="payment_option"
                                            id="exampleRadios5">
                                        <label class="form-check-label" for="exampleRadios5" aria-controls="bankTranfer" >Wallet Payment
                                        </label>
                                    </div>
                                </div>
                            </div>
                             <input type="hidden" name="total_price" value="{{ total_price }}">
                              <input type="hidden" name="order_status" value="{{ 'Order Placed' }}">
                              <input type="hidden" name="coupon_id" value="{{ coupon_id }}">
                                                         
                            <button type="submit" id="placeorder" class="btn btn-brand btn-lg mt-30">
                                Place Order
                            </button>  
                            
                        </div>
                    </div>
                </div>
            </form>
    <div class="bt-1 border-color-1 mt-30 mb-30"></div>

    </div>
    </div>
    </div>
    </form>
    <!--  FORM STARTS  -->
    </div>
    </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
 <script>
    $(document).ready(function(){
        $("#placeorder").click(function(event){
            event.preventDefault();

            var hasAddress = {% if address|length > 0 %}true{% else %}false{% endif %};
            var totalPrice = {{ total_price }};

            if (totalPrice === 0 && !hasAddress){
                Swal.fire({
                    title: 'Oops...',
                    icon: 'error',
                    text: 'Please select an address and ensure your total amount is greater than zero.',
                    showClass: {
                        popup: 'animate__animated animate__fadeInUp animate__faster'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutDown animate__faster'
                    },
                    confirmButtonText: 'OK',
                });
            } else if (totalPrice === 0) {
                Swal.fire({
                    title: 'Oops...',
                    icon: 'error',
                    text: 'Something went wrong! Your total amount is zero.',
                    showClass: {
                        popup: 'animate__animated animate__fadeInUp animate__faster'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutDown animate__faster'
                    },
                    confirmButtonText: 'Back to Home',
                    preConfirm: () => {
                        window.location.href = '/';
                    }
                });
            } else if (!hasAddress) {
                Swal.fire({
                    title: 'Oops...',
                    icon: 'error',
                    text: 'Please select an address.',
                    showClass: {
                        popup: 'animate__animated animate__fadeInUp animate__faster'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutDown animate__faster'
                    },
                    confirmButtonText: 'OK',
                });
            } else {
                $("#formsubmit").submit();
            }
        });
    });
</script>


  
{% endblock %}