{% extends "user_side/base.html" %}

{% block content %}

<div class="container mt-5 mt-80 mb-50">
    <div class="row">
        <div class="col-lg-12 mb-10">
            <h1 class="display-4 mb-20">Contact Sonic Hub</h1>
            <p class="lead">We'd love to hear from you!</p>
            <p class="mb-20">Feel free to reach out to us using the following contact information:</p>
            <ul class="mb-10">
                <li>Email: contact@sonichub.com</li>
                <li>Phone: +1 (555) 123-4567</li>
                <li>Address: 1234 Audio Street, Sonic City</li>
            </ul>
            <p>Our dedicated support team is ready to assist you with any inquiries or feedback you may have. Connect with Sonic Hub today!</p>
        </div>
    </div>
</div>

{% endblock content %}