
{% extends 'user_side/base.html'%}
{% load static %}
{% block content %}


    
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-2.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-1.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-3.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-4.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-5.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-6.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'images/shop/product-16-7.jpg' %}" alt="product image">
                                    </figure>
                                
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <img src="{% static 'images/shop/thumbnail-3.jpg' %}" alt="product image">
                                    {% comment %} <div><img src="{% static 'images/shop/thumbnail-4.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'images/shop/thumbnail-5.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'images/shop/thumbnail-6.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'images/shop/thumbnail-7.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'images/shop/thumbnail-8.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'images/shop/thumbnail-9.jpg' %}" alt="product image"></div> {% endcomment %}
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="{% static 'images/theme/icons/icon-facebook.svg' %}" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="{% static 'images/theme/icons/icon-twitter.svg' %}" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="{% static 'images/theme/icons/icon-instagram.svg' %}" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="{% static 'images/theme/icons/icon-pinterest.svg' %}" alt=""></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="{% static '/images/theme/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-facebook.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-twitter.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-instagram.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-youtube.svg' %}" alt=""></a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ---main banner----- -->
    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Trade-In Offer</h4>
                                            <h3 class="animated fw-900">Supper Value Deals</h3>
                                            <h2 class="animated fw-900 text-brand">On All Products</h2>
                                            <p class="animated">Save more with coupons & up to 70% off</p>
                                            <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"
                                                tabindex="0"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static '/images/slider/banner1.jpg' %}" alt="" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Hot Deals</h4>
                                            <h3 class="animated fw-900">Trending Speakers</h3>
                                            <h2 class="animated fw-900 text-brand">Great Collection</h2>
                                            <p class="animated">Save more with coupons & up to 20% off</p>
                                            <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html"
                                                tabindex="0"> Get It Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="{% static '/images/slider/banner2.jpg' %}" alt="" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
            <!-- main banner end -->
        </section>
        <!-- sub banner---- -->
        <!-- <section class="banners mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static '/images/banner/banner-1.png' %}" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="{% static '/images/banner/banner-2.png' %}" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="{% static '/images/banner/banner-3.png' %}" alt="">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sub banner end -->
        </section> -->

        <!------------------ products section starts-------------------- -->

        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">

                    <!--End nav-tabs---------------->
                    <!------------ product details section starts---- -->

                        
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    {% comment %} loop starts.... {% endcomment %}
                    <div class="row product-grid-4">
                        {% for product in products  %}
                            {% if product.thumbnail.url %}
                                <div class="col-lg-2 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url 'user_panel:shop-product' product.id %}">

                                                    <img class="default-img" style="max-width: 200px" style="max-height: 200px;" src="{{product.thumbnail.url}}"
                                                        alt="">
                                                    
                                                </a>
                                            </div>
                                            <div class="product-action-1">

                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>

                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html">{{product.product_category_id.category_name}}</a>
                                            </div>
                                            <h2><a href="shop-product-full.html">{{product.product_name}}</a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>{{product.offer_price}}</span>
                                                <span class="old-price">{{product.price}}</span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% endfor %}
                            </div>
                            <!-- En tab three (New added) -->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
     
        
        </section>
<!-- Products section ends -->
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
               
                
                
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                     {% for category in categories  %}
                        <div class="card-1">
                        
                            <figure class="img-hover-scale overflow-hidden">
                               
                                 <h5 class="category-title" ><a href="shop-grid-right.html">{{category.category_name}}</a></h5>
                            </figure>
                           
                        </div>
                         {% endfor %}
                    </div>
                </div>
               
            </div>
        </section>
              
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
               
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                    </div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                     {% for brand in brands  %} 
                        <div class="d-inline-block brand-logo mx-3">
                            <img  src="{{brand.brand_image.url}}" alt="" class="img-fluid object-fit-cover" style="max-width: 100px; max-height: 100px;">
                        </div>
                    {% endfor %}
                    </div>  
                </div>               
                
            </div>         
        </section>

        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-1.png' %}" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-2.png' %}" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-3.png' %}" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-4.png' %}" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-5.png' %}" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-6.png' %}" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>


{% endblock %}