



<div style="margin: 20px;">
    <!-- Order ID and Download Invoice -->
    <h2 style="font-size: 1.2em; ">ORDER ID: {{ order_main.order_id }}</h2>
     <h2 ><span>Date: {{ order_main.date }}</span></h2>
    <!-- Order Details -->
    <div style="margin-top: 20px;">
        {% if order_main.payment_status %}
            <h1 style="margin: 0; padding: 5px;  color: #000; text-align: center;">Invoice</h1>

        {% endif %}
      

        <!-- Order Items Table -->
        <table style="width: 100%; margin-top: 10px; border-collapse: collapse;  border: 1px solid #ddd;">
            <thead>
                <tr style="border-bottom: 1px solid #ddd; text-align: left;">
                    <th style="padding: 10px; border-bottom: 1px solid #ddd;">Product</th>
                    <th style="padding: 10px; border-bottom: 1px solid #ddd;">Quantity</th>
                    <th style="padding: 10px; text-align: right; border-bottom: 1px solid #ddd;">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_sub_data %}
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td style="padding: 10px; border-bottom: 1px solid #ddd;">
                            <img src="{{ order.variant.product.thumbnail.url }}" alt="" width="50" style="vertical-align: middle;">
                            <div style="display: inline-block; margin-left: 10px; vertical-align: middle;">
                                <h6 style="margin: 0;">{{ order.variant.product.product_name | title }}</h6>
                                <h3><span style="font-size: 0.8em;">Color: {{ order.variant.colour_name | title }}</span></h3>
                            </div>
                        </td>
                        <td style="padding: 10px; margin-left:80px; border-bottom: 1px solid #ddd;">{{ order.quantity }}</td>
                        <td style="padding: 10px; text-align: right; border-bottom: 1px solid #ddd;">{{ order.variant.product.offer_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="text-align: right;">
                    <td colspan="2" style="padding: 10px;">Subtotal</td>
                    <td style="padding: 10px;">{{ order_main.total_amount }}</td>
                </tr>
                <tr style="text-align: right;">
                    <td colspan="2" style="padding: 10px;">Shipping</td>
                    <td style="padding: 10px;">Free Shipping</td>
                </tr>
                <tr class="fw-bold" style="text-align: right;">
                    <td colspan="2" style="padding: 10px;">TOTAL</td>
                    <td style="padding: 10px;">{{ order_main.total_amount }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Payment and Delivery Address -->
    <div style="margin-top: 20px;">
        <div style="width: 48%; display: inline-block; margin-right: 2%;">
            <h3 style="font-size: 1em; margin: 0;">Payment Method</h3>
            <p style="font-size: 0.9em;">{{ order_main.payment_option | title }}</p>
        </div>
        <div style="width: 48%; text-align: right;  ">
            <h3 style="font-size: 1em; margin: 0; ">Delivered Address</h3>
            <address style="font-size: 0.9em;">
                <strong>{{ order_main.address.name }}</strong><br>
                {{ order_main.address.house_name }},{{ order_main.address.street_name }}<br>
                {{ order_main.address.district }}, {{ order_main.address.state }},{{ order_main.address.pin_number }}<br>
                <span>Phone Number: {{ order_main.address.phone_number }}</span>
            </address>
        </div>
    </div>
</div>


