{% extends "user_side/base-footer.html" %}
{% load static %}
{% block content %}


<section class="mt-50 mb-50">
    <div class="container">
        <h3 class="text-center mb-10">Review Your Order And Make Payment</h3>
        <div class="row">
            <div class="col-md-6">
            {% for ad in address  %}
            
           
                <div class="card">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                        <p class="card-text mb=0">
                            {{ userDto.firstName }} {{ad.name}}
                        </p>
                        <p class="card-text mb=0">{{ ad.house_name }}</p>
                        <p class="card-text mb=0">{{ ad.street_name }}, {{ ad.state }}, {{ ad.country }}</p>
                        <p class="card-text mb=0">Pin code: {{ ad.pin_number }}</p>
                        <p class="card-text mb=0">Email: {{ userDto.username }}</p>
                        <p class="card-text mb=0">Phone: {{ ad.phone_number }}</p>
                    </div>
                </div>
                 {% endfor %}
                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- PRODUCT LOOP STARTS HERE -->
                                {% for product in orderSubDtoList %}
                                <tr>
                                    <td>
                                        <h5><a href="#">{{ productDtoMap }}</a></h5>
                                        <span class="product-qty">x {{ product.qty }}</span>
                                        <p class="font-xs"></p>
                                    </td>
                                    <td class="text-end">
                                        <span>{{discountPrice }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                                <!-- PRODUCT LOOP ENDS HERE -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Cart Total -->
                <div class="border p-md-4 p-30 border-radius cart-totals">
                    <div class="heading_s1 mb-3">
                        <h4>Cart Totals</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Cart Subtotal</td>
                                    <td class="cart_total_amount">
                                        <span class="font-lg fw-900 text-brand">{{ orderMainDto.amount }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Shipping</td>
                                    <td class="cart_total_amount"><i class="ti-gift mr-5"></i> Free Shipping</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Total</td>
                                    <td class="cart_total_amount">
                                        <strong>
                                            <span class="font-xl fw-900 text-brand">{{ orderMainDto.amount }}</span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                        <img class="wow fadeIn animated" style='max-width:30%' src="{% static 'assets/imgs/theme/payment-method.png' %}" alt="">
                    </div>
                    <div class="container mt-5">
                        <button type="submit" id="rzp-button1" class="btn btn-success btn-block mt-30">
                            Pay Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}