{% extends "user_side/base-footer.html" %}
{% load static %}
{% block title %} Order list {% endblock %}
{% block content %}

<style>
    .dropdown-custom {
        background-color: rgb(207, 200, 200);
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-success shadow-lg">
    <a class="navbar-brand" href="/"><h3><span class="text-white">Sonic Hub</span></a></h3>
</nav>  
<section class="content-main">
    <div class="content-header">
        <div class="container mt-50">
            <h2 class="content-title card-title">Order List</h2>
        </div>
    </div>
    <div class="container"  id="productdetail" >
   
        {% for order_id, order_sub_data_instances in grouped_order_data.items%}
        
            <div class="row mb-3" style="cursor: pointer;">
                <div class="col-md-12 card shadow-lg p-3 mb-2 bg-white rounded" >  

                    {% for order_sub_data in order_sub_data_instances %}
                    {% comment %} <a href="{% url 'order:order-details' order_sub_data.main_order_id %}" style="text-decoration:none"> {% endcomment %}
                        <div class="row"  data-order-id="{{order_sub_data.main_order_id}}" >
                            <div class="col-md-1 order-md-1 mb-4">
                                <img src="{{ order_sub_data.variant.product.thumbnail.url }}" class="card-img-top" alt="Thumbnail image">
                            </div>
                            
                            <div class="col-md-11 order-md-2"> 
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="card-title">{{ order_sub_data.variant.product.product_name }}</h5>
                                        <p class="card-text">Colour : {{ order_sub_data.variant.colour_name }}</p>
                                    </div>
                                    <div class="col-md-3">
                                       <p class="card-text">Price: {{ order_sub_data.variant.product.offer_price}} X {{ order_sub_data.quantity }} </p>

                                    </div>
                                    <div class="col-md-5 ">
                                        <p class="card-text">
                                          {% if forloop.first %}
                                          {% if order_sub_data.main_order.payment_status == True %}
                                                               
                                            <span class="badge rounded-pill alert-success">{{ order_sub_data.main_order.order_status }}</span>
                                            <br>
                                            <span>{{ order_sub_data.main_order.date }}</span>
                                          <a href="{% url 'order:order-details' order_sub_data.main_order_id %}" class="btn btn-outline-primary me-2" >View  Details</a>

                                            {% else %}
                                            <span class="badge alert-warning">PAYMENT PENDING</span>
                                          
                                            <span>{{ order_sub_data.main_order.date }}</span> <br> <br>
                                               <a href="{% url 'order:online-payment' order_sub_data.main_order.order_id %}" class="btn btn-outline-success me-2" >Pay Now</a>
                                                <a href="{% url 'order:order-details' order_sub_data.main_order_id %}" class="btn btn-outline-primary me-2" >View  Details</a>

                                             {% endif %}
                                              {% endif %}

                                        </p> 
                                       <div>
                                   
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div></a>
        {% endfor %}
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% comment %} <script>
    document.getElementById("productdetail").addEventListener("click",()=>{
       // Assuming you have a reference to the element, for example, by using document.querySelector
   var element = document.querySelector('.row');
var orderId = element.getAttribute('data-order-id');
console.log(orderId);

    },true)
 document.querySelector('.row').addEventListener("click",()=>{

 })

</script> {% endcomment %}


{% endblock content %}
