
{% extends 'user_side/base.html'%}
{% load static %}
{% block content %}


<style>

    .custom-pagination {
        background-color: #f8f9fa; /* Set background color */
        border-radius: 10px; /* Add border radius for rounded corners */
        padding: 10px; /* Add padding for spacing */
    }
    
    .custom-pagination .page-link {
        color: #007bff; /* Set link color */
    }
    
    .custom-pagination .page-link:hover {
        background-color: #007bff; /* Set background color on hover */
        color: #fff; /* Set text color on hover */
    }
    
    .custom-pagination .active .page-link {
        background-color: #007bff; /* Set background color for active page */
        color: #fff; /* Set text color for active page */
    }
    
    .custom-pagination .page-item:last-child .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
</style>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="{% static '/images/theme/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-facebook.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-twitter.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-instagram.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-youtube.svg' %}" alt=""></a>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <main class="main mt-5">
            {% comment %} <div class="container d-flex justify-content-center" th:unless="${ProductDetails} != null">
                <div class="d-flex flex-column">
                    <h3> Sorry 🥺, We didn't fount any product in this brand!!</h3>
                    <a class="btn btn-success-light hover-up" th:href="@{/user/home}">Back to Home</a>
                </div>
            </div> {% endcomment %}
            <div class="container " th:if="${ProductDetails} != null">
                <div class="row"style="margin-top:70px">
                    <!--SIDE FILTER STARTS-->

                    
            <aside class="col-md-3 ">
                
                <div class="filter-group-dropdown p-3" style="box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;">
                    <span class="mb-6"><h4>FILTER</h4></span>
                    <!-- Categories -->
                    <div class="filter-item mb-3">
                        <button class="w-100 btn filter-button" onclick="toggleDropdown('categoryDropdown')">Select Category</button>
                        <ul id="categoryDropdown" class="filter-dropdown">
                        
                            {% for category in categories %}
                            <li><a href="{% url 'product:shop-product-list1' category.id %}">{{category.category_name}} </a></li>
                            {% endfor %}
                        </ul>
                    </div>  


                     <!-- Brands -->
                    <div class="filter-item mb-3">
                        <button class="w-100 btn filter-button" onclick="toggleDropdown('brandDropdown')">Select Brands</button>
                        <ul id="brandDropdown" class="filter-dropdown">
                           
                            {% for brand in brands %}
                            <li><a href="{% url 'product:shop-product-list' brand.id %}">{{brand.brand_name}} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    

                    <!-- Price Range -->
                    <div class="filter-item mb-3">
                        <button class=" btn w-100  filter-button" onclick="toggleDropdown('priceRangeDropdown')">Price Range</button>
                        <form action="{% url 'product:price-range' %}" method="post">
                        {% csrf_token %}
                        <ul id="priceRangeDropdown" class="filter-dropdown mt-3">
                            <li>
                                <label>Min</label>
                                <input class="form-control min_price" placeholder=" " type="number" name="min-value"
                                    id="filter-price-range-min" value="{% if min_price %}{{ min_price }}{% endif %}">
                            </li>
                            <li>
                                <label>Max</label>
                                <input class="form-control max_price" placeholder="" id="filter-price-range-max" name="max-value"
                                    type="number" value="{% if max_price %}{{ max_price }}{% endif %}">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-block btn-dark my-2"
                                        onclick="filterWithPriceRange('filter-price-range-min', 'filter-price-range-max')">Apply
                                </button>
                            </li>
                        </ul>
                    </form>
                    </div>

                </div>
            </aside>

                    
     
                <div class="col-lg-9">  
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            {% comment %} product loop starts.... {% endcomment %}
                            <div class="row product-grid-4">

                                {% if not products %}
                                <div class="no-results-container">
                                    <img
                                        src="{% static 'images/theme/nodatafound.png' %}"
                                        class="img-fluid rounded-top"
                                        style="max-width: 100%; height: auto;"
                                        alt=""
                                    />
                                    <span><h3>Sorry, no results found!</h3></span>

                                    <style>
                                      
                                        .no-results-container {
                                            text-align: center;
                                            margin: 20px;
                                            padding: 20px; 
                                            
                                        }

                                    </style>
                                </div>
                            {% endif %}
                            
                                {% for product in products  %}
                                    {% if product.is_active %}                                                     
                                    {% if product.thumbnail.url %}                       
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'user_panel:shop-product' product.id %}">
                                                            <img class="default-img" style="max-width: 100%"  src="{{product.thumbnail.url}}" alt="">
                                                        </a>
                                                    </div>                                                    
                                                    <div class="product-action-1">
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" data-id="{{product.id }}" onclick="addToWishList(this.getAttribute('data-id'))"><i class="fi-rs-heart"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg"> <span class="hot">Hot</span> </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="shop-grid-right.html">{{product.product_category_id.category_name}}</a>
                                                    </div>
                                                    <h2><a href="{% url 'user_panel:shop-product' product.id %}" class="h5">{{product.product_name}}</a></h2>
                                                    <div class="rating-result text-success" title="90%"><strong><span>{{product.percentage_discount}}% off</span></strong> </div>
                                                    <div class="product-price">
                                                        <span>{{product.offer_price}}</span>
                                                        <span class="old-price">{{product.price}}</span>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a data-product-id="{{ product.id }}" aria-label="Add To Cart" class="action-btn hover-up addToCartBtn"><i class="fi-rs-shopping-bag-add"></i></a>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                            
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- En tab three (New added) -->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div> 
<!-- Products section ends -->
             
              
<div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center custom-pagination">
            {% for num in products.paginator.page_range %}
                <li class="page-item {% if products.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">
                        <span class="material-icons">navigate_next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
$(".addToCartBtn").on('click', function(event) {
    event.preventDefault();

    var productId = $(this).data('product-id');
    console.log(productId)

    
    $.ajax({
        type: 'POST',
        url: '{% url "cart:add-to-cart-index" %}',
        data: {
            product: productId,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
        },
        success: function(response) {
            Swal.fire({
                icon: 'success',
                title: 'Added to Cart',
                text: 'The item has been added to your cart',
            });
        },
        error: function(response) {
            Swal.fire({
                icon:'error',
                title:'Oops..',
                title:'Something went wrong!'
            })
            console.log('something went wrong');
        }
    });
});

</script>


<script>
function addToWishList(dataid){
  
  console.log(dataid)
  $.ajax({
    type:'POST',
    url:"{% url 'user_panel:add-to-wishlist' %}",
    data:{
      product:dataid,
      csrfmiddlewaretoken:'{{ csrf_token }}'
    },
    success:function(response){
       Swal.fire({
        title:'Added to wishlist',
        icon:'success',

      })

    },
     error: function(xhr, status, error) {
      console.error('AJAX request failed:', status, error);
      Swal.fire({
        title: 'Something went wrong!',
        icon: 'error',
        text: 'Please try again later.',
    })
    }

  }) 

}

</script>


<script>
function toggleDropdown(dropdownId) {
    var dropdown = document.getElementById(dropdownId);
    dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
}

document.addEventListener('click', function (event) {
    var isClickInside = document.getElementById('filter-group-dropdown').contains(event.target);
    if (!isClickInside) {
     
        document.getElementById('categoryDropdown').style.display = 'none';
        document.getElementById('priceRangeDropdown').style.display = 'none';
        document.getElementById('brandDropdown').style.display = 'none';
    }
});
</script>

{% endblock %}


