{% extends "user_side/base-footer.html" %}
{% load static %}

{% block content %}
<main class="main">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Quantity</h5>
          <button type="button" onclick="hideModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>         
        <form method="post" action="#" onsubmit="return isValid()">
        {% csrf_token %}
        <input type="hidden" id="CartID" name="CartID" value=""/>
        <div class="modal-body">
          <span class="h5">Tell us what you need, and we'll bring it to you.</span><br />
          <label for="qty"></label>
          <label for="CartID"></label>
          <label for="availableQty"></label>
          <input id="availableQty" value="" type="number" name="availableQty" hidden="hidden" />
          <input type="number" placeholder="Quantity" id="qty" name="qty" class="border border-dark rounded" required="required" />
        </div>
        <div class="modal-footer">
          <button type="button" onclick="hideModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- MODAL end -->
  {% if cart_items %}
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <h2>My Cart</h2>
    </div>
  </div>
  {% else %}
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <h2>Cart is Empty</h2>
    </div>
  </div>
  {% endif %}
  <section class="mt-50 mb-50">
    <div class="container" style="max-width:80%">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table shopping-summery text-center clean">
              <thead>
                <tr class="main-heading">
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Colour</th>
                  <th scope="col">Quantity</th>
                  {% comment %} <th scope="col">Total</th> {% endcomment %}
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <!-- CART LOOP STARTS -->
                {% for cart in cart_items %}
                <tr>
                  <td class="image product-thumbnail " >
                    <img alt="" src="{{cart.product.thumbnail.url}}"/>
                  </td>
                  <td class="product-des product-name text-center" style="vertical-align:middle">
                   {% if cart.product.is_active %}
                    <h5 class="product-name">
                      <a href="#">
                        <span>{{ cart.product.product_name}}</span>
                      </a>
                      {% comment %} {% if not OfferApplied %}
                      <span style="color: green">
                        {% for offer, discount in OfferApplied %}
                        <br />
                        <span>{{ offer }} {{ discount }}%</span>
                        {% endfor %}
                      </span>
                      {% endif %} {% endcomment %}
                    </h5>

                    {% else %}
                    <div class="d-flex flex-column justify-content-center" style="vertical-align:middle">
                       <div>
                        <h5 class="product-name">
                          <a href="#">
                            <span>{{ cart.product.product_name }}</span>
                          </a>
                        </h5>
                      </div> 
                      <div>
                        <h5 class="h5 mt-15" style="color: red">
                          Out of Stock
                        </h5>
                      </div>
                    </div>
                    {% endif %}
                  </td>
                  <td class="price text-center" data-title="Price"  style="vertical-align:middle">
                    <span class="h5 px-1">&#8377;{{ cart.product.offer_price }}</span>
                    {% if cart.product.price != cart.product.offer_price %}
                    <span class="old-price" style ="text-decoration:line-through">&#8377;{{ cart.product.price }}</span>
                    {% endif %}
                  </td>

                  {% if cart.variant.variant_status %}
                  <td class="variant-color text-center " style="vertical-align:middle">
                    <div  style ="height:40px; width:40px; background-color:{{cart.variant.colour_code}}; display:inline-block; border-radius:20% "></div>
                  </td>
                  {% else %}
                  <td class="variant-color text-center " style="vertical-align:middle">
                    <div  style ="height:40px; width:40px; background-color:{{cart.variant.colour_code}}; display:inline-block; border-radius:20% "></div>
                  
                   <div>
                      <h5 class="h5 mt-15" style="color: red">
                        Out of Stock
                      </h5>
                    </div>
                    </td>
                  {% endif %}

                  <td class="text-center" data-title="Stock" style="vertical-align:middle">
                    <div class="button-group row">
                      <div class="detail-qty border radius m-auto col-lg-8">
                        <span>{{ cart.quantity }}</span>
                      </div>
                      <button data-id="{{ cart.id }}" data-qty="{{ cart.quantity }}" data-max-quantity="{{ cart.variant.variant_stock }}" class="d-flex border-0 center_icon p-2 col-lg-4" onclick="showModal(this.getAttribute('data-id'), this.getAttribute('data-qty'), this.getAttribute('data-max-quantity'))">
                        <i class="material-icons fi-rs-edit" id="editButton"></i>
                      </button>
                    </div>
                  </td>
                  {% comment %} <td class="price" data-title="Price">
                    <span>&#8377;{{ cart.product.discountPrice }}</span>
                  </td> {% endcomment %}
                  <td class="action" data-title="Remove" style="vertical-align:middle">
                    <form method="post" action="{% url 'cart:delete-cart-product' cart.id %}" onsubmit="return false">
                      {% csrf_token %}
                      <button class="btn border-0" onclick="confirmDelete(this.form)">
                        <i class="fi-rs-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                
                {% endfor %}
                <!-- CART LOOP END -->
                <tr>
                  <td colspan="6" class="text-end">
                    <form method="post" action="#" onsubmit="return false">
                      {% csrf_token %}
                      <button class="text-muted btn border-0" onclick="confirmClear(this.form)">
                        <i class="fi-rs-cross-small"></i> Clear Cart
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="cart-action text-end">
            <a class="btn" href="#">
              <i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping
            </a>
          </div>
          <div class="divider center_icon mt-50 mb-50">
            <i class="fi-rs-fingerprint"></i>
          </div>
          <div class="row mb-50">
            <div class="col-lg-6 col-md-12"></div>
            <div class="col-lg-6 col-md-12">
              <div class="border p-md-4 p-30 border-radius cart-totals">
                <div class="heading_s1 mb-3"><h4>Cart Totals</h4></div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="cart_total_label">Cart Subtotal</td>
                        <td class="cart_total_amount">
                          <span class="font-lg fw-900 text-brand">&#8377; {{ TotalAmount }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Shipping</td>
                        <td class="cart_total_amount">
                          <i class="ti-gift mr-5"></i>Free Shipping
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Total</td>
                        <td class="cart_total_amount">
                          <strong>
                            <span class="font-xl fw-900 text-brand">&#8377; {{ TotalAmount }}</span>
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a href="#" class="btn btn-brand">
                  <i class="fi-rs-box-alt mr-10"></i>Proceed To CheckOut
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
</main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

 


<script>
function confirmDelete(form){
  Swal.fire({
    title:'Are you sure?',
    text:'You won\'t be able to revert this!',
    icon: "warning",
    showCancelButton:true,
    confirmButtonColor:'#3085d6',
    cancelButtonColor:'#d33',
    confirmButtonText:'Yes, delete'

  })
  .then(result =>{
    if(result.isConfirmed){
      Swal.fire({
        title:'Deleted!',
        text:"Item has been deleted!",
        icon:"success"
      })
      .then(()=>{
          form.submit()
      })
      
    }
  })
}
</script>

<script>

function hideModal() {
  $('#exampleModal').modal('hide');
}

function showModal(id, quantity, maxQuantity) {
 
  $('#CartID').val(id);
  $('#availableQty').val(maxQuantity); 


if (id) {
    $('#exampleModal form').attr('action', 'cartquantity-update/'+id);
} else {
    console.error("Invalid 'id' parameter");
   
}

  $('#exampleModal').modal('show');
}

function isValid() {
   event.preventDefault();
  
  var enteredQty = parseInt($('#qty').val());
  var cartID = $('#CartID').val();
  
  var maxQty = parseInt($('#availableQty').val());

 
  if (isNaN(enteredQty) || enteredQty <= 0 ) {
    Swal.fire({
      title: 'Invalid Quantity',
      text: 'Please enter a valid positive Integer quantity',
      icon: 'error',
    });
    return false; 
  }

    if (enteredQty > maxQty) {
    Swal.fire({
      title: 'Invalid Quantity',
      text: 'Maximum Quantity is '+maxQty+'\n'+'Please enter a quantity less than or equal to ' + maxQty,
      icon: 'error',
    });
    return false; 
  }

    
 
    Swal.fire({
        title: 'Success',
        text: 'Quantity Updated Successfully',
        icon: 'success',
    });


   return true;

}

</script>



{% endblock content %}
