
{% extends 'user_side/base.html'%}
{% load static %}
{% block content %}


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="{% static '/images/theme/logo.svg' %}" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-facebook.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-twitter.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-instagram.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-pinterest.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/theme/icons/icon-youtube.svg' %}" alt=""></a>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <main class="main">
            {% comment %} <div class="container d-flex justify-content-center" th:unless="${ProductDetails} != null">
                <div class="d-flex flex-column">
                    <h3> Sorry 🥺, We didn't fount any product in this brand!!</h3>
                    <a class="btn btn-success-light hover-up" th:href="@{/user/home}">Back to Home</a>
                </div>
            </div> {% endcomment %}
            <div class="container" th:if="${ProductDetails} != null">
                <div class="row">
                    <!--SIDE FILTER STARTS-->
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
                            <ul class="categories">
                                <li>
                                    <label for="min-price">Minimum Price</label>
                                    <input type="number" name="min-price" id="min-price">
                                </li>
                                <li>
                                    <label for="max-price">Maximum Price</label>
                                    <input type="number" name="max-price" id="max-price">
                                </li>
                                <li>
                                    <button class="form-control" id="price-filter"><span>Filter</span><i class="material-icons md-sort"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--SIDE FILTER ENDS-->


        <!------------------ products section starts-------------------- -->

        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        
            <div class="container">     
                <div class="row">  
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            {% comment %} product loop starts.... {% endcomment %}
                            <div class="row product-grid-4">
                                {% for product in products  %}
                                    {% if product.is_active %}                                                     
                                    {% if product.thumbnail.url %}                       
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'user_panel:shop-product' product.id %}">
                                                            <img class="default-img" style="max-width: 100%"  src="{{product.thumbnail.url}}" alt="">
                                                        </a>
                                                    </div>                                                    
                                                    <div class="product-action-1">
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" data-id="{{product.id }}" onclick="addToWishList(this.getAttribute('data-id'))"><i class="fi-rs-heart"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg"> <span class="hot">Hot</span> </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="shop-grid-right.html">{{product.product_category_id.category_name}}</a>
                                                    </div>
                                                    <h2><a href="{% url 'user_panel:shop-product' product.id %}" class="h5">{{product.product_name}}</a></h2>
                                                    <div class="rating-result text-success" title="90%"><strong><span>{{product.percentage_discount}}% off</span></strong> </div>
                                                    <div class="product-price">
                                                        <span>{{product.offer_price}}</span>
                                                        <span class="old-price">{{product.price}}</span>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a data-product-id="{{ product.id }}" aria-label="Add To Cart" class="action-btn hover-up addToCartBtn"><i class="fi-rs-shopping-bag-add"></i></a>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                            
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- En tab three (New added) -->
                        </div>
                        <!--End tab-content-->
                    </div>
                </div>
            </div>
        </section>
<!-- Products section ends -->
             
              

        <section class="featured section-padding">
            <div class="container pb-25">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-1.png' %}" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-2.png' %}" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-3.png' %}" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-4.png' %}" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-5.png' %}" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="{% static 'images/theme/icons/feature-6.png' %}" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>

     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script>
$(".addToCartBtn").on('click', function(event) {
    event.preventDefault();

    var productId = $(this).data('product-id');
    console.log(productId)

    
    $.ajax({
        type: 'POST',
        url: '{% url "cart:add-to-cart-index" %}',
        data: {
            product: productId,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            Swal.fire({
                icon: 'success',
                title: 'Added to Cart',
                text: 'The item has been added to your cart',
            });
        },
        error: function(response) {
            Swal.fire({
                icon:'error',
                title:'Oops..',
                title:'Something went wrong!'
            })
            console.log('something went wrong');
        }
    });
});

</script>


<script>
function addToWishList(dataid){
  
  console.log(dataid)
  $.ajax({
    type:'POST',
    url:"{% url 'user_panel:add-to-wishlist' %}",
    data:{
      product:dataid,
      csrfmiddlewaretoken:'{{ csrf_token }}'
    },
    success:function(response){
       Swal.fire({
        title:'Added to wishlist',
        icon:'success',

      })

    },
     error: function(xhr, status, error) {
      console.error('AJAX request failed:', status, error);
      Swal.fire({
        title: 'Something went wrong!',
        icon: 'error',
        text: 'Please try again later.',
    })
    }

  }) 

}

</script>




{% endblock %}


