{% extends 'admin_side/admin-base.html' %}
{% load static  %}
{% block content %}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                <p>Add, edit or delete a category</p>
            </div>
                 {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                      <strong></strong>{{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
            <div>
                <a href="{% url 'category:add-category' %}" class="btn btn btn-primary">Create</a>
            </div>
        </div>
        {% if categories == None %}
            <h3>No Category found in the database.</h3>
        
         {% else %}
        <div class="card" >
            <header class="card-header ">
            <div class="row ">
            <form method="post" action="{% url 'admin_panel:category-name-search' %}"  class="d-flex" > 
            {% csrf_token %}            
                <div class="col-lg-4 col-md-4 me-2">
                    <input type="text" name="query" placeholder="Search..." class="form-control">        
                </div>
                <div class="col-lg-1 col-md-2 col-6">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
                </form>            
            </div>
            </header> 
            <div class="card-body" id="product-list">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Parent-ID</th>
                                     <th >Minum Eligible Price</th>
                                    <th >Discount</th>
                                    <th >Expiry Date</th>
                                    <th >Action</th>
                                   
                                    
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Loop Start --> 
                                {% for category in categories%}
                                    <tr>
                                        <td></td>
                                        <td><h6>{{ forloop.counter }}</h6></td>
                                        <td><h6>{{ category.category_name }}</h6></td>
                                        <td>
                                            <form method="post" action="{% url 'category:category-status-update' category.id %}" onsubmit="return false;">
                                                {% csrf_token %}
                                                {% if category.is_available %} 
                                                    <button type="submit" class=" alert-success" onclick="confirmUpdate(this.form)">Active</button>
                                                {% else %}
                        
                                                    <button type="submit" class=" alert-danger" onclick="confirmUpdate(this.form)">InActive</button>
                                                {% endif %}
                                            </form>
                                        </td>
                                        <td>
                                            {% if category.parent == None    %} 
                                                <h6>No Parent</h6>
                                            {% else %}
                                                <h6> {{category.parent}}</h6>
                                            {% endif %}
                                        </td>
                                       <td style="background-color: {% if category.minimum_amount is None %}#FFD6D6{% else %}#D6FFD6{% endif %};"><h6>{{ category.minimum_amount|default:"N/A" }}</h6></td>
                                       <td style="background-color: {% if category.discount is None %}#FFD6D6{% else %}#D6FFD6{% endif %};">
                                            <h6>
                                                {% if category.discount %}
                                                    {{ category.discount }}%
                                                {% else %}
                                                    {{ category.discount | default:"N/A" }}
                                                {% endif %}
                                            </h6>
                                        </td>

                                        <td style="background-color: {% if category.expirydate is None %}#FFD6D6{% else %}#D6FFD6{% endif %};"><h6>{{ category.expirydate|default:"N/A" }}</h6></td>



                                        <td >
                                            <a href="{% url 'category:edit-category' category.id %}" class="btn btn btn-primary">Edit</a>
                                        </td>
                                        
                                    </tr>
                                {% endfor %}
                                <!-- Loop End -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                {% comment %} <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">

                            {% for i in page  %}
                                {% if page == CategoryList.pageNo %}
                                <li class="page-item active">
                                {% endif %}
                                    <a class="page-link" href="{% url 'your_view_categories_view' pageNo=page pageSize=CategoryList.pageSize %}">
                                        {{ page + 1 }}
                                    </a>
                                </li>
                            {% endfor %}

                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item">
                                <a class="page-link" {% if CategoryList.hasNext %}href="{% url 'your_view_categories_view' pageNo=CategoryList.totalPages|default:"0"-1 pageSize=CategoryList.pageSize %}"{% endif %}>
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> {% endcomment %}
                <!-- End of pagination -->
            </div>
        </div>
        {% endif %}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function confirmUpdate(form) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, do it!'
            })
            .then( result => {
                    if (result.isConfirmed) {
                        form.submit()
                    }
            });
        }
    </script>
{% endblock %}
