{% extends "user_side/base.html" %}
{% load static  %}
{% block content %}


 
<div class="container-fluid ">
<div class="container">
  <!-- Title -->
  
  <!-- Main content -->
  <div class="row de-flex justify-content-center mt-80" >

    <div class="col-lg-10">
     <h2 class="h5 mb-0"><a href="#" class="text-muted">ORDER ID: </a>{{order_main.order_id}}</h2>
      <!-- Details -->
      <div class="card mb-3">
        <div class="card-body shadow-lg">
          <div class="mb-3 ">
            <div >
            {% if order_main.payment_status == True %}
            <div class="d-flex justify-content-between m-2">
            <h4><span class=" mr-3  {% if order_main.order_status == 'Cancelled' %} badge bg-danger {% else %} badge bg-info {% endif %}" >{{order_main.order_status|upper}}</span></h4>
              <p><span class="mt-2">{{order_main.date}}</span></p>
            </div>
            
              {% else %}

              <h4><span class=" mr-3 badge  bg-info">PAYMENT PENDING</span></h4>
              <span class="mt-2">{{order_main.date}}</span>
                       
            </div>
             {% endif %}
          </div>
          <table class="table table-borderless">
             <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Price</th>

                    
                </tr>
            </thead>
            {% for order in order_sub_data  %}
            
            <tbody >
              <tr {% if not order.is_active %} style = "background-color:#ffcccc;" {% endif %}>     
                <td>
                  <div class="d-flex mb-2">
                    <div>
                      <img src="{{order.variant.product.thumbnail.url}}" alt="" width="50" class="img-fluid">
                    </div>
                    <div class="flex-lg-grow-1 ms-3">
                      <h6 class="small mb-0">{{order.variant.product.product_name |title}}</h6>
                      <span class="small">Color: {{order.variant.colour_name | title}}</span>
                        {% if order.variant.product.product_category.discount %}
                      <div style="color:green;"> category offer {{order.variant.product.product_category.discount}} % </div>
                    {% endif %}
                    </div>    
                  </div>
                </td>

                <td>{{order.quantity}}</td>
                <td class="text-end">{{order.variant.product.offer_price}}</td>
               <td class="text-end">
                  {% if order.total_cost_coupon %}
                      {{ order.total_cost_coupon }} 
                      <span style="text-decoration: line-through;">{{ order.total_cost }}</span> 
                  {% else %}
                      {{ order.total_cost }} 
                  {% endif %}
              </td>

              </tr>
            </tbody>
            {% endfor %}
            <tfoot>
              <tr>
                <td colspan="3">Subtotal</td>
                <td class="text-end">{{sub_total}}</td>
              </tr>
              <tr>
                <td colspan="3">Shipping</td>
                <td class="text-end">Free Shipping</td>
              </tr>

              <tr class="fw-bold">
              {% if user_coupon.coupon_discount and coupons %}
               <td colspan="3">TOTAL <br> <span style="color:green">{{user_coupon.coupon_discount}} % discount applied with coupon  {{user_coupon.coupon_code}}</span> </td>
               <td class="text-end">{{order_main.total_amount}}</td>
              
              {% else %}
              
                <td colspan="3">TOTAL</td>
                <td class="text-end">{{order_main.total_amount}}</td>
              {% endif %}
              </tr>
      
            </tfoot>
          </table>
        </div>
      </div>
      <!-- Payment -->
      <div class="card mb-4 shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="h6">Payment Method</h3>
              <p>{{order_main.payment_option |title }} <br>
              
            </div>
            <div class="col-lg-6">
              <h3 class="h6">Delivery Address</h3>
              <address>
              
                <strong>{{order_main.name}}</strong><br>
                {{order_main.house_name}},{{order_main.street_name}}<br>
                {{order_main.district}}, {{order_main.state}},{{order_main.pin_number}}<br>
                <span>Phone Number: {{order_main.phone_number}}</span>
              </address>

                    <div class="d-flex justify-content-end">
                       
                                     
                        <a href="{% url 'admin_panel:order-list'%}" class="btn btn-outline-primary">Back</a>
                      
                    </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
<!-- Add these lines in the head section of your HTML -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
$(document).ready(function(){

  $('#cancelorder').on("click",function(){
    Swal.fire({
      title:"Are you sure?",
      text:'You won\'t be able to revert this!',
      icon:'warning',
      showCancelButton:true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, cancel it!'

  }).then((result)=>{
    if(result.isConfirmed){
      cancelorder()
    }
  })
  })

  function cancelorder(){
    Swal.fire({
      title:"Cancelled!",
      text:'Your order has been cancelled.',
      icon:'success',
    })
    $("#cancelorderform").submit()
  }
  
})

</script>

<script>
$(document).ready(function(){

  $("#returnorder").on('click', function(){
    Swal.fire({
      title:"Are you sure?",
      text:'You won\'t be able to revert this!',
      icon:'warning',
      showCancelButton:true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, do it!',

    }).then((result)=> {
      if(result.isConfirmed){
        Swal.fire({
          title:"Returned",
          icon:"success",
          text:"Your order has been returned",
        })
        $("#returnorderform").submit()
      }
    })
  })
})
</script>

{% endblock content %}