{% extends "admin_side/admin-base.html" %}
{% load static %}
{% block title %} Variant list {% endblock %}
{% block  content %}

<style>
    .dropdown-custom{
        background-color: rgb(207, 200, 200);
    }
</style>

<style>
    .edit-mode {
        display: none;
    }
</style>


<section class="content-main">
    <div class="content-header">
        {% comment %} <div>
            <h2 class="content-title card-title">Product: {{product.get_product_name}}</h2>
        </div> {% endcomment %}

         
        <div>
    
      
            <h4 class="content-title card-title">Available Variants</h4>
               {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                      <strong></strong>{{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}  
        </div>
       
         
     
    </div>
    <div class="card mb-4">
       <div class="d-flex justify-content-end ml-30 mt-10 mb-10"><a href="{% url 'product:add-variant' products.id %}" class="btn btn-outline-info">Add Variants</a></div>

        <div class="card-body">
            
                        <div class="table-responsive"  >
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th> Variant Colours</th>
                                        <th>Colour Name</th>
                                        <th>Stock</th>                                   
                                        <th class="text-middle">Status</th>
                                        <th class="text-middle">Action</th> 
                                        
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for variant in variants %}
                                    <tr>                                    
                                        <td><div class="static-mode" style="width: 70px; height: 40px; background-color: {{variant.colour_code}}"></div>
                                        <div class="edit-mode"><input class="form-control" type="color" id="edit-color-input" value="{{ variant.colour_code }}"></div>
                                        </td>
                                        <td class="static-mode"><a href="#"> <h6 class="mb-0">{{variant.colour_name }}</h6></a></td>
                                        <td class="edit-mode"><input type="text" class="form-control" id="edit-name-input" value={{variant.colour_name}}></td>

                                        <td class="   static-mode">
                                            <span class="badge  {% if variant.variant_stock %} alert-success {% else %} alert-danger {% endif %}">
                                                {% if variant.variant_stock %} {{variant.variant_stock}} {% else %} Out Of Stock {% endif %} </span>
                                            <td class="edit-mode"><input type="text" id="edit-stock-input" class="form-control" value={{variant.variant_stock}}></td>
                                        </td>
                                        
                                        <td class=" ">
                                            <span  class="badge rounded-pill {% if variant.variant_status %} alert-success {% else %} alert-danger {% endif %}">
                                                {% if variant.variant_status %} Active {% else %}Inactive {% endif %} </span>
                                        </td>
                                        <td class=" " >
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm text-secondary fw-bold font-sm"> 
                                                    More
                                                </a>
                                                <div class="dropdown-menu dropdown-custom">
                                                    {% comment %} <a class="dropdown-item" href="#">View detail</a> {% endcomment %}
                                                    <a class="dropdown-item  edit-action" href="#">Edit</a>
                                                    {% comment %} <a class="dropdown-item " href="{% url 'product:delete-variant' variant.id variant.product.id %}" >Delete</a> {% endcomment %}

                                                    <a class="dropdown-item" href="{% url 'product:variant-status-change' variant.id %}" id="update" data-variant-id="{{ variant.id }}" onclick="update(this)">
                                                    <input type="hidden"  id="variant-status-change-url" value="{% url 'product:variant-status-change' variant.id %}">

                                                      {% if not variant.variant_status %}Enable {% else %}Disable{% endif %}</a>
                                                      <input type="hidden" id = "variant_id" value={{variant.id}}>
                                                </div>
                                            </div> <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>     
             <!-- itemlist  .// -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    {% comment %} <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div> {% endcomment %}
 
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>





<script>
    $(document).ready(function () {
        $('.edit-action').click(function () {
           
            var row = $(this).closest('tr');
            
           

            var buttonText = ($(this).text() === 'Edit') ? 'Submit' : 'Edit';
            $(this).text(buttonText);

             row.find('.static-mode, .edit-mode').toggle();

              if (buttonText === 'Edit') {
                var colorValue = row.find('#edit-color-input').val();
                var nameValue = row.find('#edit-name-input').val();
                var stockValue = row.find('#edit-stock-input').val();
                var variant_id = row.find('#variant_id').val();

    

                console.log(variant_id)

                var data = {
                    color: colorValue,
                    name: nameValue,
                    stock: stockValue,
                    variant_id: variant_id,
                    product:{{products.id}}
                    
                    
                };
               
               let url = "/productedit-variant/" + variant_id;

                $.ajax({
                    type: 'GET',
                    url: url,
                    data: data,
                    success: function (response) {
                     window.location.reload()
                        console.log('Update successful:', response);
                    },
                    error: function (error) {
                        window.location.reload()
                        console.log("Something went wrong!")
                    }
                });
            }

        });


    });

   
</script>



{% comment %} <script>


  function update(element) {
    const url = $('#variant-status-change-url').val();

      $.ajax({
        type: 'GET',
        url: url,
        success:function(response){ 
      
          
           location.reload();
        },
        error:function(error){
          alert('Error')
          console.log(variantId)
        }
      })
  }
</script> {% endcomment %}




{% endblock content %}