<section class="content-main" style="text-align:center;">
    <div class="content-header">
        <div>
            <h1 class="content-title card-title" style="margin-bottom: 4px; font-size: 24px;">Sales Report</h1>
        </div>
    </div>
  
    <div class="card mb-4" style="margin-top: 20px;">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">ID</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Name</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Email</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Total</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Date</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Status</th>
                            <th style="text-align: middle; padding: 8px; font-size: 14px;">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in order_main_data %}
                        <tr>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 2px; font-size: 12px;">{{ data.order_id }}</h6></td>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 2px; font-size: 12px;">{{ data.user.username|title }}</h6></td>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 2px; font-size: 12px;">{{ data.user.email }}</h6></td>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 2px; font-size: 12px;">{{ data.total_amount }}</h6></td>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 2px; font-size: 12px;">{{ data.date }}</h6></td>
                            <td style="padding: 8px;">
                                {% if data.payment_status %} 
                                    <h6><span style="padding: 4px; font-size: 12px; ">{{data.order_status}}</span></h6>
                                {% else %}
                                    <span style="padding: 4px; font-size: 12px; background-color: rgb(255, 69, 0);">PAYMENT PENDING</span>
                                {% endif %} 
                            </td>
                            <td style="padding: 8px;"><h6 style="margin-bottom: 4px; font-size: 12px;">{{ data.payment_option|title }}</h6></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
